*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Arial;
    overflow:hidden;
    background-image: url(https://i.pinimg.com/1200x/76/df/d4/76dfd4a13e6b44a5c1d862d45db0f680.jpg);
}

.menu{
padding: 25px 6%;
display: flex;
justify-content: center;
box-shadow: 0;
border: none;
background: #e3e6f3;
}
.menu ul{
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.logo img{
    width:90px;
    display:block;
}

ul{
    list-style:none;
    display:flex;
    align-items:center;
    gap:40px;
}

li{
    display:inline;
}

a{
    text-decoration:none;
    color:black;
    font-size: 1.1em;
    font-weight: 500;
    transition: .3s;
}

a:hover{
    color:teal;
}

.home{
 justify-content: center;
 text-align: center;
 padding: 60px 20px;
}
.text{
max-width: 100%;
}

h4{
    font-size:50px;
    margin:center;
}

h1{
    font-size:85px;
    margin:center;
    line-height:90px;
}

h2{
    font-size:85px;
    color:teal;
    margin:center;
    line-height:90px;
}

p{
    font-size:22px;
    color:gray;
}

button{
    background:#f0d5b5;
    border:none;
    padding:15px 35px;
    border-radius:30px;
    font-size:20px;
    font-weight:bold;
    margin-bottom:50px;
    cursor:pointer;
}
    .home{
        height:100vh;
        padding:20px;
        display:flex;
        align-items:flex-start;
        justify-content:center;
        background-repeat:no-repeat;
        background-position: right center;
        background-image: url(https://i.pinimg.com/1200x/76/df/d4/76dfd4a13e6b44a5c1d862d45db0f680.jpg);
        background-position: center;
        background-size:cover;
    }

    .text{
        width:100%;
    }

    h4{
        font-size:30px;
    }
    h1{
   font-size: clamp(22px, calc( 5vw + 1rem), 85px);
    }

    h2{
   font-size: clamp(20px, 4vw, 65px);
   line-height: 1.2;
   color: teal;
    }

    p{
        font-size: clamp(16px, calc( 1.2vw + 10px), 22px);
        line-height: 1.6;
    }

    button:hover{
        font-size:25px;
        padding:10px 20px;
    }
@media (max-width: 1024px){
    .menu{
    padding: 20px 5%;
    }
    .menu ul{
    gap: 10px;
    }
    .home{
    padding: 80px 5%;
    }
}
@media(max-width:768px){
    .menu{
        flex-direction: column;
        gap:20px;
        text-align: center;
    }
    .menu ul{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
        .home{
    background-image: url(https://i.pinimg.com/1200x/76/df/d4/76dfd4a13e6b44a5c1d862d45db0f680.jpg);
    background-repeat:no-repeat;
    background-position: right center;
    background-size:cover;
    justify-content: center;
    text-align: center;
    padding: 60px 20px;
        }
    }
.text{
    max-width: 100%;
}
button{
    width: 100%;
    max-width: 250px;
}
@media (min-width: 1280px) {
    .home {
        display: flex;
        align-items: center;
        justify-content: flex-start; 
        background-image:url("images/hero4.png");
        background-repeat:no-repeat;
        background-position: right center;
        background-size:cover;
        
        text-align: left;        
        padding-left: 10%;         
    }

    .text {
        max-width: 55%;             
        margin-top: 0;              
    }

    button {
        margin: 0;                
    }
}

